//@import "bourbon";


	


.bg {	
	margin-top: 0px;
	 margin-bottom: 0px;
	 background-position: center;
  	background-repeat: no-repeat;
  	background-size:cover;
  	position: relative;
	 background-image: url(../../assets/image4.jpg);
  //background-repeat: no-repeat;
}


.form-signin {
  max-width: 350px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid rgba(17, 16, 16, 0.5);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}
	img {
		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		
		
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		//@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
